<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.posstrsoftware.posstrsoftware">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.UnitMainActivity">
        </activity>
        <activity android:name=".activity.GroupMainActivity">
        </activity>
        <activity android:name=".activity.ProductMainActivity">
        </activity>
        <activity android:name=".activity.AddUnitActivity">
        </activity>
        <activity android:name=".activity.AddProductActivity">
        </activity>
        <activity android:name=".activity.AddGroupActivity">
        </activity>
        <activity android:name=".activity.FixUnitActivity">
        </activity>
        <activity android:name=".activity.FixGroupActivity">
        </activity>
        <activity android:name=".activity.FixProductActivity">
        </activity>
        <activity android:name=".activity.SaleProductActivity">
        </activity>
        <activity android:name=".activity.CompanyMainActivity">
        </activity>
        <activity android:name=".activity.UpdateCompanyActivity">
        </activity>
        <activity android:name=".activity.CompanySetActivity">
        </activity>
    </application>

</manifest>